body {
    font-family: 'Fira Sans', sans-serif;
    font-size: 32px;
    background-color: grey;
  }

  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .movie-search-app {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  
  .movie-search-app-hide {
    display: none;
  }
  
  .movie-search-app-inner {
    display: flex;
    justify-content: center;
    padding-left: 20px;
    margin-bottom: 20px;
    gap: 25px;
  }
  
  .movie-search-app-input {
    box-sizing: border-box;
    padding: 10px 0 10px 10px;
    width: 500px;
    height: 60px;
    border: 1px solid #000;
    font-family: sans-serif;
    font-size: 32px;
    color: grey;
  }
  
  .movie-search-app-button {
    width: 250px;
    height: 60px;
    font-family: sans-serif;
    font-size: 32px;
    background-color: #0094FF;
    color: #fff;
    cursor: pointer;
  }
  
  .movie-search-validation {
    text-align: center;
    color: red;
    font-size: 20px;
  }
  
  .movie-search-list {
    margin-top: 20px;
  }
  
  .movie-item {
    display: flex;
    gap: 50px;
    padding: 20px 20px;
    text-decoration: none;
  }
  
  .movie-item:hover {
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.3);
    cursor: pointer;
  }
  
  .movie-item-img {
    margin-top: 11px;
    width: 100px;
    height: 149px;
  }
  
  .movie-features-wrapper {
    display: flex;
    flex-direction: column;
    color: white;
  }

  .movie-features-img {
    width: 200px;
    height: 400x;
  }
  
  .movie-item-title {
    margin-bottom: 7px;
    font-size: 40px;
    font-weight: bold;
  }
  
  .movie-item-year {
    margin-bottom: 18px;
    color: hsl(44, 93%, 47%);
    font-size: 25px;
  }
  
  .movie-item-category {
    font-size: 30px;
  }
  
  .movie-search-card {
    display: none;
  }

  .movie-card {
    padding: 20px 20px;
    margin-bottom: 20px;
  }
  
  .card-link {
    margin-bottom: 30px;
    text-decoration: none;
    color: black;
    font-size: 80px;
    cursor: pointer;
  }

  .movie-card-list {
    margin-bottom: 75px;
    display: flex;
    gap: 90px;
  }
  
  .movie-search-card-img {
    width: 300px;
    height: 500px;
    object-fit: contain;
  }
  
  .movie-search-card-title {
    margin-bottom: 30px;
    font-size: 45px;
    font-weight: bold;
  }
  
  .movie-search-card-list-inner {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  
  .movie-search-card-item {
    font-size: 25px;
    font-weight: normal;
  }
  
  .movie-description {
    font-size: 25px;
    font-weight: normal;
  }

@media (max-width: 699px) {
    body {
        font-size: 20px;
      }

    .container {
        padding-left: 20px;
        padding-right: 20px;
      }
    
    .movie-search-app-inner {
        padding-left: 15px;
        margin-bottom: 15px;
        gap: 20px;
      }

      .movie-search-app-input {
        width: 100%;
        height: 40px;
        font-family: sans-serif;
        font-size: 20px;
      }

      .movie-search-app-button {
        width: 150px;
        height: 40px;
        font-size: 20px;
      }

      .movie-search-validation {
        font-size: 15px;
      }

      .movie-features-img {
        width: 150px;
        height: 300x;
      }

      .card-link {
        font-size: 50px;
      }

      .movie-search-card-img {
        width: 200px;
        height: 400px;
      }

      .movie-search-card-title {
        margin-bottom: 20px;
        font-size: 30px;
      }

      .movie-search-card-item {
        font-size: 18px;
      }

      .movie-description {
        font-size: 18px;
      }
    
}